.about {
  border-top: 2px solid #CD5C5C;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  padding: 0 20px 0 20px;
  margin: 0;
  margin-top: -20px;
  background: #ffffff;
  text-align: center;
  color: #696969;
}

.about__shishoits {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}
