.about {
  position: relative;
  margin-bottom: 40px;
  border-top: 2px solid $link-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    width: 238px;
    height: 228px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid darken($text-color, 10%);
    background-image: url("../img/raster/team@1x.jpeg");
    background-size: cover;
    transform: translateX(-50%);
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 80px;

    &::after {
      top: 100px;
      width: 198px;
      height: 188px;
    }
  }

  @media (min-width: $width-desktop) {
    &::after {
      top: 84px;
      width: 238px;
      height: 228px;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::after {
      background-image: url("../img/raster/team@2x.jpeg");
    }
  }
}

.about__story {
  width: 100%;
  text-align: center;
  padding-top: 40px;

  @media (min-width: $width-tablet) {
    padding-top: 60px;
    width: 100%;
  }

  @media (min-width: $width-desktop) {
    padding-top: 80px;
    width: 70%;
  }
}

.about__text {
  &:nth-child(2) {
    margin-top: 270px;
  }
}
