.contacts {
  margin-bottom: 46px;
  border-top: 2px solid $link-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $width-tablet) {
    margin-bottom: 60px;
  }
}

.contacts__content {
  padding-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $width-tablet) {
    padding-top: 60px;
  }
}

.contacts__text {
  &--email {
    color: lighten($text-color, 30%);
  }

  &--bold {
    font-weight: bold;
  }
}

.contacts__links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contacts__link {
  margin: 10px 10px 20px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140px;
  border: 1px solid $text-color;
  border-radius: 5px;
}

.contacts__person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 140px;
}

.contacts__button {
  border: 1px solid darken(#fbb02d, 30%);
  border-radius: 5px;
  margin: 3px;
  background-color: lighten(#fbb02d, 10%);
  color: darken(#fbb02d, 40%);
  width: 40px;
  height: 40px;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;

  &--insta {
    background-image: url("../img/vector/insta-icon.svg");
  }

  &--habr {
    background-size: cover;
    background-image: url("../img/raster/habr-icon.png");
  }

  &--git {
    background-image: url("../img/vector/github-icon.svg");
  }

  &--tg {
    background-image: url("../img/vector/telegram-icon.svg");
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
