.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  border-bottom: 1px solid lighten($link-color, 35%);

  @media (min-width: $width-tablet) {
    border-bottom: none;
    margin-bottom: 50px;
  }
}

.page-header__logo {
  color: #3a5743;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  animation-name: emersion;
  animation-duration: 3s;

  @media (min-width: $width-tablet) {
    order: 1;
    font-size: 50px;
    margin-top: 50px;
  }
}

.page-header__content {
  text-align: center;
}

.page-header__tagline {
  display: block;
  font-size: 20px;
  margin-bottom: 80px;
  color: $text-color;
}

.page-header__navigation {
  display: none;
  align-self: stretch;

  &--open {
    display: block;
  }

  @media (min-width: $width-tablet) {
    display: block;
    align-self: flex-end;
    order: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
  }
}

.page-header__menu-toggle {
  position: absolute;
  font-size: 0;
  top: 19px;
  right: 0;
  padding: 0;
  width: 31px;
  height: 28px;
  cursor: pointer;
  background-color: transparent;
  outline-color: lighten($link-color, 50%);

  &::after {
    position: absolute;
    top: 5px;
    left: 15px;
    transform: translateX(-50%);
    content: "";
    width: 25px;
    height: 18px;
    background: transparent url("../img/vector/icon-mobile-menu.svg") no-repeat center;
  }

  &--no-js {
    display: none;
  }

  &--close::after {
    background: transparent url("../img/vector/icon-close.svg") no-repeat center;
  }

  @media (min-width: $width-tablet) {
    display: none;
  }
}

@keyframes emersion {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }

  30% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.6;
  }

  70% {
    opacity: 0.7;
  }

  80% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}
