.page-footer {
  margin: 100px 0 50px 0;
  padding: 50px 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #CD5C5C;
}

.page-footer__tagline {
  width: 30%;
  text-align: left;
}

.page-footer__extra {
  width: 30%;
  text-align: center;
}

.page-footer__copyright {
  width: 30%;
  text-align: right;
}
