.page {
  margin: 0;
  padding: 0;
  font-family: $font-oswald;
  text-transform: uppercase;
}

.page__container {
  min-width: $width-mobile;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $width-tablet) {
    padding: 0 30px;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop;
    padding: 0 40px;
  }
}
