.shishoit {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shishoit__icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid darken($text-color, 10%);
  border-radius: 50%;
  background-color: lighten($text-color, 40%);
  margin-bottom: 40px;
  margin-top: 40px;

  $text-color: darken($text-color, 10%);
  color: $text-color;
}

.shishoit__socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-bottom: 20px;
}

.shishoit__link {
  position: relative;
}

.shishoit__container {
  display: block;
  width: 248px;
  height: 238px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid darken($text-color, 10%);
  background-image: url("../img/raster/team@1x.jpeg");
  background-size: cover;
  transition: background-image 0.3s ease;

  &:hover {
    background-image: url("../img/raster/team-surprized@1x.jpeg");
  }
}

.shishoit__picture {
  &--regular:hover {
    transform: translateY(480px);
  }
}
