$width-desktop: 1300px;
$width-tablet: 768px;
$width-mobile: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$text-color: #3a5743;
$link-color: lighten($text-color, 10%);

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-arial: "Arial", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;
